body {
    background-color: #eee;
    font-family: 'Trispace', sans-serif;
    font-size: 15px;
}

* {
    box-sizing: border-box;
  }
  

#navbar {
    background-color: aliceblue;
    margin-bottom: 15px;
    color: #eee;
}

.navbar-brand {
    padding: 10px;
    border-style: groove;
    border-color: #333;
    background-color: lightslategray;
}

#card {
    padding: 20px;
    border-style: groove;
    border-color: #333;
    background-color: lightslategrey;
    color: gainsboro;
    width: 800px;
    height: 800px;
}

.aboutme {
    padding: 10px;
    font-weight: 100;
    border-style: groove;
    border-color: #333;
    font-size: larger;
    margin-left: 18px;
}

#about-me-img {
    float: left;
    margin: 10px;
}

hr {
    color: aliceblue;
}

img {
    position: relative;
    border: 3px solid #333;
    height: 300px;
    width: 300px;
}

.img-border {
        border: 5px solid #555;
}

#portfolio {
    text-align: center;
}

#phone-email{
    color: lightslategray;
}

#contact-form {
    float: left;
    height: 600px;
    width: 600px;  
    padding: 20px;
    border-style: groove;
    border-color: #333;
    background-color: lightslategrey;
    color: gainsboro;
}

a {
    margin: inherit;
}

label {
    display: block;
    margin-bottom: .5rem;
}

textarea{
    width: 300px;
    height: 150px;
}

input.submit{
    margin-left: 40px;
}

.module {
	background-color: #fff;
	padding: 30px;
	border: 1px solid #ddd;
}

#email-address {
    margin-left: 40px;
    width: .5rem;
}

#social {
	width: 270px;
	float: right;
	text-align: center;
}

#social img {
	height: 60px;
	width: auto;
}

#social a {
	margin-right: 8px;
}

#social a:last-child {
	margin-right: 0;
}


/* css to have to footer stick to the page as you scroll up and down  */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}