* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    background-color: #eee;
    font-family: 'Trispace', sans-serif;
    font-size: 15px;
}

#navbar {
    background-color: aliceblue;
    margin-bottom: 15px;
}

.navbar-brand {
    padding: 10px;
    border-style: groove;
    border-color: #333;
    background-color: lightslategray;
}

#card {
    padding: 20px;
    border-style: groove;
    border-color: #333;
    background-color: lightslategrey;
    color: gainsboro;
}

.aboutme {
    padding: 10px;
    font-weight: 100;
    border-style: groove;
    border-color: #333;
    font-size: larger;
    margin-left: 18px;
}

hr {
    color: aliceblue;
}

img {
    border: 3px solid #333;
}

img.resize {
    max-height:231px;
}

.img-border {
        border: 5px solid #555;
}

#contact {
    padding: 20px;
    border-style: groove;
    border-color: #333;
    background-color: lightslategrey;
    color: gainsboro;
}

/* css to have to footer stick to the page as you scroll up and down  */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-style: groove;
    border-color: #333;
    background-color: lightslategray;
}