* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
      background-color: #ccc;
    font-family: 'Trispace', sans-serif;
    font-size: 15px;
}

#navbar {
    margin: auto;
    background-color: aliceblue;
}

.navbar-brand {
    background-color: lightslategray;
}

#card {
    margin: 10px;
    padding: 20px;
    border-style: groove;
    border-color: #333;
    background-color: lightslategrey;
    color: gainsboro;
}

.aboutme {

}